<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MainSSOLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MainSSOLib.Properties.Settings>
            <setting name="MainSSOLib_AuthenticationService_AuthenticationService"
                serializeAs="String">
                <value>http://localhost/MainSSO/AuthenticationService.asmx</value>
            </setting>
        </MainSSOLib.Properties.Settings>
    </applicationSettings>
</configuration>