@{
    ViewBag.Title = "Web Client1 Home";
}
<h2>Web Client1 Home</h2>
You are logged in as @User.Identity.Name
    Is master: @User.IsInRole("Master")

@if (User.IsInRole("Master"))
{
    <h4>Only the Master can see this item</h4>
}